.solid { border:1px solid blue;margin:10px }
.b-bottom { border-bottom:3px solid blue;margin:10px;}
.b-right { border-right:3px solid blue;margin:10px;}
.b-left { border-left:3px solid blue;padding:5px;}
.b-top-light { border-top:1px solid blue;margin:3px;}
div.float { float:left}
div.clear { clear:both}

.accepted {background-color:#99FF99}
.planned { background-color:yellow}
.rejected {background-color:red}
.present {background-image:url(/static/check24.png); background-repeat:no-repeat}
.sick {background-image:url(/static/sick.jpg); background-repeat:no-repeat}
.multiple {border-bottom: 3px solid red; border-right:3px solid red}

.inline {display:inline-block}
.rect {width:30px;height:20px;display:inline-block;}

.big {font-size: 13px }
.bigger {font-size: 16px }

.blue {color:blue}

.month td.sun {color:red;background-color:#E8E8E8}
.month th.sat {color:red;}
.month th.sun {color:red;}
