<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  {% load staticfiles %}
    <link rel="stylesheet" href="{%static "jquery-1.7.2.min.js" %}" />
    <link rel="stylesheet" href="{%static "admin/css/base.css" %}" />
    <link rel="stylesheet" href="{%static "admin/css/forms.css" %}" />
    <link rel="stylesheet" href="{%static "urlopy.css" %}" />

    <title>{% block title %}System urlopowy mikran{% endblock %}</title>
</head>
{% endblock %}
{% block body %}
<body>
    <div id="topbar" class="b-bottom">
        {% block topbar%}
	<div class="inline">{% block topbar-welcome %}<h1>Witamy w sytemie urlopowym Mikran</h1>{% endblock %}
	  Dzisiaj: {% now "d M, Y H:i" %}
	</div>
	<div class="float-right">
	  <div class="big">
	    {% if user.is_authenticated %}
	    Witamy w pracy, {{ user.first_name }}.
	    <a href="{% url django.contrib.auth.views.logout %}?next={%url index %}">Wyloguj się</a>
	    {% else %}
	    <a href="{% url django.contrib.auth.views.login %}?next={%url index %}">Zaloguj się</a>
	    {% endif %}
	  </div>												    
	</div>
        {% endblock %}
    </div>
    <div id="left" class="float" style="width:225px;height:650px">
        <ul>
	  <li><a href="{% url index %}">Pracownicy, główny widok</a></li>
	</ul>
	<ul>
        {% block left %}
        {% endblock %}
	</ul>
	<ul class="form-row plainlist">
	  {% block commands %}
	  {% endblock %}
	</ul>
	<ul class="plainlist b-top-light">
	  <li><h3>Legenda:</h3></li>
	  <li><span class="accepted rect"></span>  Urlop zatwierdzony</li>
	  <li><span class="planned rect"></span>  Urlop planowany</li>
	  <li><span class="rejected rect"></span>  Urlop Odrzucony</li>
	  <li><img src={%static "check24.png" %}>  Obecny</li>
	  <li><img src={%static "sick.jpg" %}>  Choroba</li>
	  <li><img src={%static "sun.jpg" %}>  Dzień wolny</li>
	</ul>
    </div>
    <div id="content" class="float b-left">
    {% if messages %}
      <ul class="messages messagelist">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
      {% block content %}{% endblock %}
      <div>
	<form method="post">
	  {% csrf_token %}
	  {{year_form}}
	  <input type="submit" action="{%url index %}" value="Zmień"></input>
	</form>
      </div>
      {% block calendar %}{% endblock %}
    </div>
    <div id="bottom" style="clear:both .b-top-light">
        {% block bottom %}{% endblock %}
    </div>
</body>
{% endblock %}
</html>
