<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
  {% load staticfiles %}
    <link rel="stylesheet" href="{%static "style.css" %}" />
    <link rel="stylesheet" href="{%static "jquery-1.7.2.min.js" %}" />
    <link rel="stylesheet" href="{%static "admin/css/base.css" %}" />
    <link rel="stylesheet" href="{%static "admin/css/forms.css" %}" />

    <title>{% block title %}System urlopowy mikran{% endblock %}</title>
</head>
{% endblock %}

<body>
    <div id="topbar" class="solid">
        {% block topbar %}
	<h1>Witamy w sytemie urlopowym Mikran</h1>
        {% endblock %}
    </div>
    <div id="left" class="solid float" style="background-color:#FFD700;width:200px">
        <ul><li><a href="{% url index %}">Pełen widok</a></li></ul>
        {% block left %}
	123
        {% endblock %}
    </div>
    <div id="content" class="solid float">
    {% if messages %}
      <ul class="messages messagelist">
	{% for message in messages %}
	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
      </ul>
      {% endif %}
        {% block content %}{% endblock %}
    </div>
    <div id="bottom" style="border:1px solid; clear:both">
        {% block bottom %}bottom{% endblock %}
    </div>
</body>
</html>
