{% extends "base.html" %}

{% block topbar %}
<h1>Zakładka dla {{selected.first_name}} {{selected.last_name}}</h1>
{% endblock %}

{% block left %}

<ul>
{% for user in users %}
<li><a href="{% url show_user user.id %}">{{user}}</a></li>
{% endfor %}
</ul>

<ul>
  <li><a href="{% url plan_days selected.id %}">Planuj urlop</a></li>
  <li>Zgłoś obecność</li>
</ul>

{% endblock %}
{% block content %}

<form action="{% url plan_days selected.id %}" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

{% endblock %}

