{% extends "show_user.html" %}

{% load extras %}

{% block content %}

{%if user_day %} 
<ul class="messagelist">
  <li class="warning">Ten dzień jest już zarezerowany. Status: [ {{user_day.status.status}} ]</li>
</ul>
{%else%}
<form class="solid" action="{% url single_present selected.id year month day %}" method="post">{% csrf_token %}
<p id="header">Zgłaszanie obecności lub choroby</p>
  <ul class="plainlist">
    <li>{{ form.non_field_errors }}</li>
    {% for field in form %}
    <li>
      {{ field.errors }}
    </li>
    <li>
      {{ field.label_tag }}
    </li>
    <li>
      {{ field }}
    </li>
    {% endfor %}
  </ul>
  <input type="submit"/>
</form>
{%endif%}


<br/>
{% include "_legenda.html" %}

<p id="header">Kalendarz urlopowy dla {{selected.first_name}} {{selected.last_name}}</p>
{{cal}}

{% endblock %}
