{% extends "base.html" %}

{% load extras %}

{% block content %}

<form action="{% url single_present selected.id year month day %}" method="post">{% csrf_token %}
<p id="header">Zgłaszanie obecności lub choroby</p>
<ul>
{{ form.as_ul }}
<input type="submit"/>
</ul>
</form>

{% load staticfiles %}

<ul>
<li><b>Legenda na dzień: {{year}}/{{month}}/{{day}}</b></li>
<li><span class="accepted rect"></span>  Urlop zatwierdzony {{statuses|getByKey:"Zatwierdzony"|flatit|default:"brak"}} </li>
<li><span class="planned rect"></span>  Urlop planowany: {{statuses|getByKey:"Zaplanowany"|flatit|default:"brak"}}</li>
<li><span class="rejected rect"></span>  Odrzucony {{statuses|getByKey:"Odrzucony"|flatit|default:"brak"}}</li>
<li><img src={%static "check24.png" %}>  Obecny {{statuses|getByKey:"Obecny"|flatit|default:"brak"}}</li>
<li><img src={%static "sick.jpg" %}>  Choroba {{statuses|getByKey:"Lekarskie"|flatit|default:"brak"}}</li>
</ul>

<p id="header">Kalendarz urlopowy dla {{selected.first_name}} {{selected.last_name}}</p>
{{cal}}

{% endblock %}
