{% extends "base.html" %}

{% block topbar %}
<h1>Zakładka dla {{selected.first_name}} {{selected.last_name}}</h1>
<p>
Dni wykorzystane : xxxx
Dni przysługujące :yyyy
</p>
{% endblock %}

{% block left %}

<ul>
{% for user in users %}
<li><a href="{% url show_user user.id %}">{{user}}</a></li>
{% endfor %}
</ul>

<ul>
  <li><a href="{% url plan_days selected.id %}">Planuj urlop</a></li>
  <li><a href="{% url present user.id %}">Zgłoś obecność</a></li>
</ul>

{% endblock %}
{% block content %}

<p id="header">Kalendarz urlopowy dla {{selected.first_name}} {{selected.last_name}}</p>
{{cal}}

{% endblock %}
